.visible {
    transition: 1s;
}
.invisible {
    visibility: hidden;
}

.keyfo-view {
    min-height: 15vh;
}

.keyfo-keyboard.container {
    max-width: 1000px;
}

[data-key] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    background: #fefefe;
    border: 1px solid rgba(0, 0, 0, .1);
    color: #5a5a5a;
    border-radius: 5px;
    margin: 4px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
    transition: .12s;  
}

[data-key]:hover,
[data-key].active {
    /* border: 2px solid rgb(255, 236, 139); */
    background: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    
}

[data-key] > span:first-child {
    font-size: x-small;
    color: grey;
}
